<li class="list-group-item" [ngClass]="getPostClass()">
    <!-- Titre et Date-->
    <div class="row form-group">
      <div class="col-xs-12">
          <div class="pull-left title" [ngClass]="getTextClass()">{{ post.title }}</div>
          <div class="pull-right text-muted">{{ post.created_at | date: 'short' }}</div>
      </div>
    </div>
    <!-- Corps du post -->
    <div class="row form-group">
      <div class="col-xs-12" [ngClass]="getTextClass()">
          {{ post.content }}
      </div>
    </div>
    <!-- Boutons Love -->
    <div class="row form-group">
        <div class="col-xs-12">
            <button class="btn btn-success" (click)="onBtnLoveClick()">Love it!</button>
            <button class="btn btn-danger" (click)="onBtlDontClick()">Don't love it!</button>
            <button class="btn btn-danger pull-right" (click)="onBtnDelClick()">Supprimer!</button>
        </div>
    </div>
</li>
